body {
  font-family: "Roboto";
  font-size: 22px;
}

.font-lg {
  font-size: 2rem;
}

.btn-win-lose {
  width: 100%;
}

.result-tr>th,
td {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}